.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.title {
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
}

.price {
  font-size: 35px;
}

.price > span {
  margin-right: 8px; }